Revison on intro
 * data
 * functions 
 * control

In [ ]:
x=1
y=2
x+y
print(x+y)
print(type (x))

3
<class 'int'>

In [ ]:
age=36.20
#what was age 7 years ago
#how:current age-age 7 years ago
y=7
age_7_years_ago=age-y
print(age_7_years_ago)
print(type(age_7_years_ago))

29.200000000000003
<class 'float'>

In [ ]:
first ="him "
second ="her"
full_name= first  + second 
print(full_name)
print(type(full_name))

him her
<class 'str'>

In [ ]:
first_name="hima "
second_name="hera"
name=first_name+second_name
print(name)

hima hera

In [ ]:
x=9>8
print(x)
print(type(x))

True
<class 'bool'>

In [ ]:
names=["paul","mwangi","njogu","jane"]
print(names)
print(type(names))

['paul', 'mwangi', 'njogu', 'jane']
<class 'list'>

In [ ]:
infor={"name":"hima","age":36,"friends":["mary","gachogu"]}
print(infor)
print(type(infor))
print(infor.keys())
print(infor.values())

{'name': 'hima', 'age': 36, 'friends': ['mary', 'gachogu']}
<class 'dict'>
dict_keys(['name', 'age', 'friends'])
dict_values(['hima', 36, ['mary', 'gachogu']])

# working with slicing and control flows

# lists
friends = ["james","kamau","grace","ann","njogu","njenga","kiuna","mwangi","lucy","mwai"]
len(friends)

In [2]:
# lists
friends = ["james","kamau","grace","ann","njogu","njenga","kiuna","mwangi","lucy","mwai"]
len(friends)
#indexing
friends[-1]

'mwai'

In [3]:
# slicing
friends[::2]

['james', 'grace', 'njogu', 'kiuna', 'lucy']

In [4]:
# slicing
friends[1::2]

['kamau', 'ann', 'njenga', 'mwangi', 'mwai']

In [5]:
#slicing
friends[::3]

['james', 'ann', 'kiuna', 'mwai']

In [6]:
print(friends)

['james', 'kamau', 'grace', 'ann', 'njogu', 'njenga', 'kiuna', 'mwangi', 'lucy', 'mwai']

In [7]:
# append/ add to the list
friends.append("val")
print(friends)

['james', 'kamau', 'grace', 'ann', 'njogu', 'njenga', 'kiuna', 'mwangi', 'lucy', 'mwai', 'val']

In [8]:
# dictionaries
marks={'maths':100,'geography':78,'history':95}
print(marks)

{'maths': 100, 'geography': 78, 'history': 95}

In [9]:
#key to get value
marks['maths']

100

In [10]:
# add more infor
marks['science']=80
print(marks)

{'maths': 100, 'geography': 78, 'history': 95, 'science': 80}

In [11]:
# loop
for friend in friends:
    print(friend)

james
kamau
grace
ann
njogu
njenga
kiuna
mwangi
lucy
mwai
val

In [12]:
friends = ["james:50","kamau:30","grace:20","ann:23","njogu:65","njenga:90","kiuna:80","mwangi:50","lucy:45","mwai:19"]

In [13]:
# age in 10 years
# current age + age_in_10_years

In [14]:
for friend in friends:
    print(friend)

james:50
kamau:30
grace:20
ann:23
njogu:65
njenga:90
kiuna:80
mwangi:50
lucy:45
mwai:19

In [15]:
print(friends)

['james:50', 'kamau:30', 'grace:20', 'ann:23', 'njogu:65', 'njenga:90', 'kiuna:80', 'mwangi:50', 'lucy:45', 'mwai:19']

In [16]:
friends[:-2]

['james:50',
 'kamau:30',
 'grace:20',
 'ann:23',
 'njogu:65',
 'njenga:90',
 'kiuna:80',
 'mwangi:50']

In [5]:
def greet(name):
    print("Hallo", name)
    print("How do you do")

greet("Jack")

Hallo Jack
How do you do

In [6]:
def add_numbers(n1, n2):
    result = n1 + n2
    print("The sum is", result)

number1 = 5.4
number2 = 6.7
add_numbers(number1, number2)

The sum is 12.100000000000001

In [9]:
def add_numbers(n1,n2):
    result = n1+n2
    return result
number1 = 5.4
number2 = 6.7
result = add_numbers(number1, number2)
print("The sum is", result)

The sum is 12.100000000000001

In [6]:
marks = [55,64,75,80,34]
length=len(marks)
print("Length is:",length)

Length is: 5

In [7]:
marks_sum=sum(marks)
print("The total marks you got is:",marks_sum)

The total marks you got is: 308