Revision
 * Data 
 * Functions 
 * Control

 <font color="cyan">for loop image</font>
 
 <img src="https://media.geeksforgeeks.org/wp-content/uploads/20230329132110/Java-For-loop-with-Examples-1.png" heigth=300 width=500>

In [ ]:
x=1
y=5
x+y
print(x+y)
print(type(x+y))

6
<class 'int'>

In [ ]:
age=2.3
# how old will the child in 20 years
# current age + age in 20 years
y=20
age_in_20_years=age+y
print(age_in_20_years)
print(type(age_in_20_years))

22.3
<class 'float'>

In [ ]:
first= "him "
second= "her"
full_name= first + second
print(full_name)
print(type(full_name))

him her
<class 'str'>

In [ ]:
x=5>7
print(x)
print(type(x))

False
<class 'bool'>

In [ ]:
names=["james", "john", "jane", "koru", "mitoma"]
print(names)
print(type(names))

['james', 'john', 'jane', 'koru', 'mitoma']
<class 'list'>

In [ ]:
infor={"name":"hima","age":22.3,"friends":["koru","mitoma"]}
print(infor)
print(type(infor))
print(infor.keys())
print(infor.values())

{'name': 'hima', 'age': 22.3, 'friends': ['koru', 'mitoma']}
<class 'dict'>
dict_keys(['name', 'age', 'friends'])
dict_values(['hima', 22.3, ['koru', 'mitoma']])

Working with slicing and control flows

In [ ]:
#list
friends=["james","kamau","grace","ann","njogu","njenga","kiuna","mwangi","lucy","mwai"]
len(friends)

10

In [ ]:
animals =[]
animals =["dogs","cat","monkey"]
print(animals)
animals[-1]

['dogs', 'cat', 'monkey']

'monkey'

In [ ]:
list2 =[[10,20],["dog","cat"]]
print(list2)

[[10, 20], ['dog', 'cat']]

In [ ]:
list2[1]

['dog', 'cat']

In [ ]:
print(list2[1][0])

dog

In [ ]:
for num in [10,20,30,40]:
    print(num)

10
20
30
40

In [ ]:
for friends in ["james","kamau","grace","ann","njogu","njenga","kiuna","mwangi","lucy","mwai"]:
    print(friends)

james
kamau
grace
ann
njogu
njenga
kiuna
mwangi
lucy
mwai

In [ ]:
list3=[10,19,90,9]
list3
list3 [3]=3.7
list3

[10, 19, 90, 3.7]

In [ ]:
list3
list3.insert (2,"hello")
list3

[10, 19, 'hello', 90, 3.7]

In [ ]:
list3
del list3[2]
list3

[10, 19, 3.7]

In [ ]:
list3
list3.sort()
list3

[3.7, 10, 19]

In [ ]:
list4=[9,10,88,4.5]
print(list4)
list4 [1]=100.1
print(list4)

[9, 10, 88, 4.5]
[9, 100.1, 88, 4.5]

In [ ]:
list4
list4.insert (3,"hello")
print(list4)

[9, 100.1, 88, 'hello', 4.5]

In [ ]:
animals=["lion","buffalo","zebra","cat","rhino"]
print(animals)
animals.sort()
print(animals)

['lion', 'buffalo', 'zebra', 'cat', 'rhino']
['buffalo', 'cat', 'lion', 'rhino', 'zebra']

In [ ]:
del list4[3]
print(list4)

[9, 100.1, 88, 4.5]

In [ ]:
print(animals)
animals.append("donkey")
print(animals)

['buffalo', 'cat', 'lion', 'rhino', 'zebra']
['buffalo', 'cat', 'lion', 'rhino', 'zebra', 'donkey']

In [ ]:
animals.reverse()
print(animals)

['donkey', 'zebra', 'rhino', 'lion', 'cat', 'buffalo']

In [ ]:
fruits=["banana","grapes","orange","apple"]
print(fruits)

['banana', 'grapes', 'orange', 'apple']

In [ ]:
#replace
fruits[1]= "avocado"
print(fruits)

['banana', 'avocado', 'orange', 'apple']

In [ ]:
#insert
fruits.insert(1,"grapes")
print(fruits)

['banana', 'grapes', 'avocado', 'orange', 'apple']

In [ ]:
#sort
fruits.sort()
print(fruits)

['apple', 'avocado', 'banana', 'grapes', 'orange']

In [ ]:
#delete
del fruits[4]
print(fruits)

['apple', 'avocado', 'banana', 'grapes']

In [ ]:
#append
fruits.append("orange")
print(fruits)

['apple', 'avocado', 'banana', 'grapes', 'orange']

In [ ]:
#reverse
fruits.reverse()
print(fruits)

['orange', 'grapes', 'banana', 'avocado', 'apple']

In [ ]:
print(fruits)

['orange', 'grapes', 'banana', 'avocado', 'apple']

In [ ]:
#replace
fruits[0]= "kiwi"
fruits

['kiwi', 'grapes', 'banana', 'avocado', 'apple']

In [ ]:
#insert
fruits.insert(0,"orange")
fruits

['orange', 'kiwi', 'grapes', 'banana', 'avocado', 'apple']

In [ ]:
#sort
fruits.sort()
fruits

['apple', 'avocado', 'banana', 'grapes', 'kiwi', 'orange']

In [ ]:
#delete
del fruits[0]
fruits

['avocado', 'banana', 'grapes', 'kiwi', 'orange']

In [ ]:
#append
fruits.append("apple")
fruits

['avocado', 'banana', 'grapes', 'kiwi', 'orange', 'apple']

In [ ]:
#reverse
fruits.reverse()
fruits

['apple', 'orange', 'kiwi', 'grapes', 'banana', 'avocado']

In [ ]:
fruits.sort()
fruits

['apple', 'avocado', 'banana', 'grapes', 'kiwi', 'orange']

**sequences

In [ ]:
#length
len(fruits)

6

In [ ]:
#Select
fruits[5]

'orange'

In [ ]:
#slice
fruits
fruits[1:4]

['avocado', 'banana', 'grapes']

In [ ]:
#count
fruits.count("banana")

1

In [ ]:
#index
fruits.index("banana")

2

In [ ]:
#membership
"grapes" in fruits

True

In [ ]:

"grapes" not in fruits

False

In [ ]:
#concatenation
name= [" healthy"]
fruits+name

['apple', 'avocado', 'banana', 'grapes', 'kiwi', 'orange', ' healthy']

In [ ]:
#Minimum
min (fruits)

'apple'

In [ ]:
max(fruits)

'orange'

In [ ]:
list2=[8,9,8,8]
sum(list2)

33

In [ ]:
list3=[3,4,5,6,7,8,9]
list5 =list3
list3

[3, 4, 5, 6, 7, 8, 9]

In [ ]:
list3[0]= "apple"
list3
list5

['apple', 4, 5, 6, 7, 8, 9]

In [ ]:
list5

['apple', 4, 5, 6, 7, 8, 9]

In [154]:
red_bucket = input("what do you want to put in the bucket?: ")
print(red_bucket)

red

In [155]:
red_bucket = input("what do you? ")
print(red_bucket)

red

In [156]:
Thomas_Age=3
Age_at_Kindergarten=5
print(Thomas_Age==Age_at_Kindergarten)

False

In [157]:
Thomas_Age = 3
Age_at_Kindergarten = 5

if Thomas_Age < Age_at_Kindergarten:
    print("Thomas should be in pre-school")

Thomas should be in pre-school

In [158]:
Thomas_Age=10
Age_at_Kindergarten=5
if Thomas_Age<Age_at_Kindergarten:
    print("Thomas should be in pre-school")
else:
    print("Thomas should be in pre-school or another class")

Thomas should be in pre-school or another class

In [159]:
Thomas_Age=10
Age_at_Kindergarten=5
if Thomas_Age<Age_at_Kindergarten:
    print("Thomas should be in pre-school")
elif Thomas_Age==Age_at_Kindergarten:
    print("Enjoy Kindergarten")
else:
    print("Thomas should be in another class")

Thomas should be in another class

In [160]:
var=11
if var<10:
    print("value is less than 10")
else:
    print("value is greater than 10")

value is greater than 10

In [161]:
var=0
while var<10:
    print (var)
    var=var+1

0
1
2
3
4
5
6
7
8
9

In [162]:
a=[3,4,5]
print(a)

[3, 4, 5]

In [163]:
a.pop
print(a)

[3, 4, 5]

In [164]:
a.append("hallo world")
print(a)

[3, 4, 5, 'hallo world']

In [168]:
a.pop(1)
print(a)

[3, 5]

In [194]:
import os
import pandas as pd
import matplotlib.pyplot as plt

ModuleNotFoundError: No module named 'matplotlib'

In [195]:
import pandas as pd
pd.__version__

'2.2.0'

In [196]:
import os
import pandas as pd

In [197]:
os.listdir("dataset")

['Iris.csv', 'karoki.xlsx']

In [199]:
df = pd.read_csv("dataset/Iris.csv")
df.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [201]:
import pandas as pd
import matplotlib.pyplot as plt

In [213]:
data = { 
    "Apple":[3,2,0,1],
    "Oranges":[0,3,7,2]
    }
purchases = pd.DataFrame(data)
purchases

   Apple  Oranges
0      3        0
1      2        3
2      0        7
3      1        2

In [214]:
purchases = pd.DataFrame(data,index=["June","Robert","Lily","David"])
purchases

        Apple  Oranges
June        3        0
Robert      2        3
Lily        0        7
David       1        2

In [215]:
#locate
purchases.loc["June"]

Apple      3
Oranges    0
Name: June, dtype: int64

In [217]:
# dataset
data = {
    "Names":["Mwangi","Ali","James","Linda","Jane","Wangui","Kamau","Torres","Tony","Cate"],
    "Weigth":[50,85,59,63,95,84,51,81,64,98],
    "Heigth":[5,6,5,6,5,6,6,5,6,5],
    "Location":["Nairobi","Kiambu","Kisumu","Nyeri","Kiambu","Kiambu","Nairobi","Thika","Voi","Lamu"],
    "Education":["Diploma","Degree","Masters","Degree","Degree","PHD","Diploma","Diploma","Degree","Masters"]
}
Friends = pd.DataFrame(data)
Friends

    Names  Weigth  Heigth Location Education
0  Mwangi      50       5  Nairobi   Diploma
1     Ali      85       6   Kiambu    Degree
2   James      59       5   Kisumu   Masters
3   Linda      63       6    Nyeri    Degree
4    Jane      95       5   Kiambu    Degree
5  Wangui      84       6   Kiambu       PHD
6   Kamau      51       6  Nairobi   Diploma
7  Torres      81       5    Thika   Diploma
8    Tony      64       6      Voi    Degree
9    Cate      98       5     Lamu   Masters