Revison on intro
 * data
 * functions 
 * control

In [ ]:
x=1
y=2
x+y
print(x+y)
print(type (x))

3
<class 'int'>

In [ ]:
age=36.20
#what was age 7 years ago
#how:current age-age 7 years ago
y=7
age_7_years_ago=age-y
print(age_7_years_ago)
print(type(age_7_years_ago))

29.200000000000003
<class 'float'>

In [ ]:
first ="him "
second ="her"
full_name= first  + second 
print(full_name)
print(type(full_name))

him her
<class 'str'>

In [ ]:
first_name="hima "
second_name="hera"
name=first_name+second_name
print(name)

hima hera

In [ ]:
x=9>8
print(x)
print(type(x))

True
<class 'bool'>

In [ ]:
names=["paul","mwangi","njogu","jane"]
print(names)
print(type(names))

['paul', 'mwangi', 'njogu', 'jane']
<class 'list'>

In [ ]:
infor={"name":"hima","age":36,"friends":["mary","gachogu"]}
print(infor)
print(type(infor))
print(infor.keys())
print(infor.values())

{'name': 'hima', 'age': 36, 'friends': ['mary', 'gachogu']}
<class 'dict'>
dict_keys(['name', 'age', 'friends'])
dict_values(['hima', 36, ['mary', 'gachogu']])

# working with slicing and control flows

# lists
friends = ["james","kamau","grace","ann","njogu","njenga","kiuna","mwangi","lucy","mwai"]
len(friends)

In [2]:
# lists
friends = ["james","kamau","grace","ann","njogu","njenga","kiuna","mwangi","lucy","mwai"]
len(friends)
#indexing
friends[-1]

'mwai'

In [3]:
# slicing
friends[::2]

['james', 'grace', 'njogu', 'kiuna', 'lucy']

In [4]:
# slicing
friends[1::2]

['kamau', 'ann', 'njenga', 'mwangi', 'mwai']

In [5]:
#slicing
friends[::3]

['james', 'ann', 'kiuna', 'mwai']

In [6]:
print(friends)

['james', 'kamau', 'grace', 'ann', 'njogu', 'njenga', 'kiuna', 'mwangi', 'lucy', 'mwai']

In [7]:
# append/ add to the list
friends.append("val")
print(friends)

['james', 'kamau', 'grace', 'ann', 'njogu', 'njenga', 'kiuna', 'mwangi', 'lucy', 'mwai', 'val']

In [8]:
# dictionaries
marks={'maths':100,'geography':78,'history':95}
print(marks)

{'maths': 100, 'geography': 78, 'history': 95}

In [9]:
#key to get value
marks['maths']

100

In [10]:
# add more infor
marks['science']=80
print(marks)

{'maths': 100, 'geography': 78, 'history': 95, 'science': 80}

In [11]:
# loop
for friend in friends:
    print(friend)

james
kamau
grace
ann
njogu
njenga
kiuna
mwangi
lucy
mwai
val

In [12]:
friends = ["james:50","kamau:30","grace:20","ann:23","njogu:65","njenga:90","kiuna:80","mwangi:50","lucy:45","mwai:19"]

In [13]:
# age in 10 years
# current age + age_in_10_years

In [14]:
for friend in friends:
    print(friend)

james:50
kamau:30
grace:20
ann:23
njogu:65
njenga:90
kiuna:80
mwangi:50
lucy:45
mwai:19

In [15]:
print(friends)

['james:50', 'kamau:30', 'grace:20', 'ann:23', 'njogu:65', 'njenga:90', 'kiuna:80', 'mwangi:50', 'lucy:45', 'mwai:19']

In [16]:
friends[:-2]

['james:50',
 'kamau:30',
 'grace:20',
 'ann:23',
 'njogu:65',
 'njenga:90',
 'kiuna:80',
 'mwangi:50']

Function

In [5]:
def greet(name):
    print("Hallo", name)
    print("How do you do")

greet("Jack")

Hallo Jack
How do you do

In [6]:
def add_numbers(n1, n2):
    result = n1 + n2
    print("The sum is", result)

number1 = 5.4
number2 = 6.7
add_numbers(number1, number2)

The sum is 12.100000000000001

In [9]:
def add_numbers(n1,n2):
    result = n1+n2
    return result
number1 = 5.4
number2 = 6.7
result = add_numbers(number1, number2)
print("The sum is", result)

The sum is 12.100000000000001

In [6]:
marks = [55,64,75,80,34]
length=len(marks)
print("Length is:",length)

Length is: 5

In [7]:
marks_sum=sum(marks)
print("The total marks you got is:",marks_sum)

The total marks you got is: 308

In [8]:
name="ada lovelace"
print(name.title())
print(name.upper())
print(name.lower())

Ada Lovelace
ADA LOVELACE
ada lovelace

In [11]:
first_name="ada"
last_name="lovelace"
full_name=f"{first_name} {last_name}"
print(full_name.title())

Ada Lovelace

In [14]:
first_name="ada"
last_name="lovelace"
full_name=f"{first_name} {last_name}"
print(f"Hallo my name is, {full_name.title()}!")

Hallo my name is, Ada Lovelace!

In [17]:
print("\tpython")

	python

In [18]:
print("Languages:\nPython\nC\nJavaScript")

Languages:
Python
C
JavaScript

In [19]:
print("Languages:\n\tPython\n\tC\n\tJavaScript")

Languages:
	Python
	C
	JavaScript

In [23]:
favourite_language="python "
favourite_language
favourite_language.rstrip()
favourite_language
favourite_language=favourite_language.rstrip()
favourite_language

'python'

In [25]:
first_name="ali"
last_name="moha"
full_name=f" {first_name} {last_name}"
full_name.title()

' Ali Moha'

In [27]:
first_name="ali"
last_name="moha"
full_name=f" {first_name} {last_name}"
full_name.title()
print(f"Hallo my name is {full_name.title()}!")

Hallo my name is  Ali Moha!

In [30]:
best_language=("Python  ")
best_language
best_language.rstrip()
best_language=best_language.rstrip()
best_language

'Python'

In [33]:
best_language=("  Python")
best_language
best_language.lstrip()
best_language=best_language.lstrip()
best_language

'Python'

In [34]:
github_url="https://github.com"
github_url.removeprefix("https://")

'github.com'

In [44]:
name="eric"
msg =f"Hello {name.title()}, would you like to learn some Python today?"
msg

'Hello Eric, would you like to learn some Python today?'

In [45]:
name="abu"
print(name.lower())
print(name.upper())
print(name.title())

abu
ABU
Abu

In [47]:
print('Albert Einstein once said, "A person who never made a mistake never tried anything new."')

Albert Einstein once said, "A person who never made a mistake never tried anything new."

In [49]:
famous_person=("Albert Einsten")
message=f'{famous_person} once said, "A person who never made a mistake never tried anything new."'
print(message)

Albert Einsten once said, "A person who never made a mistake never tried anything new."

In [57]:
print("best_language:\n\tkiswahili\n\tenglish\n\tarabic")

best_language:
	kiswahili
	english
	arabic

In [61]:
names=["ron","tyler","dani"]
print(names[0].title())
print(names[1].title())
print(names[2].title())

Ron
Tyler
Dani

In [64]:
names=["ron","tyler","dani"]
msg=f"Hello, {names[0].title()}"  
print(msg) 
msg=f"Hello, {names[1].title()}"
print(msg)
msg=f"Hello, {names[2].title()}"
print(msg)

Hello, Ron
Hello, Tyler
Hello, Dani

In [70]:
guest=["ron","tyler","dani"]
name=guest[0].title()
print(f"{name}, please come for dinner")
name=guest[1].title()
print(f"{name}, please come for dinner")
name=guest[2].title()
print(f"{name}, please come for dinner")

Ron, please come for dinner
Tyler, please come for dinner
Dani, please come for dinner

In [74]:
cars=["bmw","audi","toyota","subaru"]
cars.sort()
print(cars)

['audi', 'bmw', 'subaru', 'toyota']

In [77]:
cars=["bmw","audi","toyota","subaru"]
cars.sort(reverse=True)
print(cars)

['toyota', 'subaru', 'bmw', 'audi']

In [78]:
cars=["bmw","audi","toyota","subaru"]
print("Here is the original list:")
print(cars)

Here is the original list:
['bmw', 'audi', 'toyota', 'subaru']

In [79]:
cars=["bmw","audi","toyota","subaru"]
print("n\Here is the original list:")
print(sorted(cars))

n\Here is the original list:
['audi', 'bmw', 'subaru', 'toyota']

:

In [7]:
magicians=["alice","david","carolina"]
for magician in magicians:
    print(f"{magician.title()}, that was a great trick!")

Alice, that was a great trick!
David, that was a great trick!
Carolina, that was a great trick!

In [11]:
magicians=["alice","david","carolina"]
for magician in magicians:
    print(f"I am the best magician, my name is {magician.title()}.\n")

I am the best magician, my name is Alice.

I am the best magician, my name is David.

I am the best magician, my name is Carolina.

In [14]:
magicians=["alice","david","carolina"]
for magician in magicians:
    print(f"{magician.title()}, that was a great trick!")
    print(f"I can't wait to see your next trick, {magician.title()}.\n")

print("Thank you, everyone. That was a great magic show!")

Alice, that was a great trick!
I can't wait to see your next trick, Alice.

David, that was a great trick!
I can't wait to see your next trick, David.

Carolina, that was a great trick!
I can't wait to see your next trick, Carolina.

Thank you, everyone. That was a great magic show!

* Range function

In [15]:
for value in range(1,5):
    print(value)

1
2
3
4

In [16]:
numbers=list(range(1,6))
print(numbers)

[1, 2, 3, 4, 5]

In [17]:
even_numbers=list(range(2,21,2))
print(even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [18]:
squares=[]
for value in range(1,11):
    square=value**2
    squares.append(square)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [20]:
squares=[]
for value in range(1,11):
    squares.append(value**2)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [21]:
squares=[value**2 for value in range(1,11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [31]:
players=["charles","martina","michael","florence","eli"]

a=("Here are the first three players on my team:")
print(a)
for player in players[:3]:
    print(player.title())

Here are the first three players on my team:
Charles
Martina
Michael

In [4]:
age=40
if age <4:
    price=0
elif age< 18:
    price=25
elif age<65:
    price=40
else:
    price=20

print(f"Your admission cost is ${price}.")

Your admission cost is $40.

In [5]:
requested_toppings=["mushrooms","extra cheese"]

if "mushrooms" in requested_toppings:
    print("Adding mushrooms")
if "pepperoni" in requested_toppings:
    print("Adding pepperoni")
if "extra cheese" in requested_toppings:
    print("Adding extra cheese")

print("\nFinished making your pizza")

Adding mushrooms
Adding extra cheese

Finished making your pizza

In [8]:
available_toppings=["mushrooms","olives","green peppers",
                    "pepperoni","pineapple","extra cheese"]
requested_toppings=["mushrooms","french fries","extra cheese"]
for requested_topping in requested_toppings:
    if requested_topping in available_toppings:
        print(f"Adding {requested_topping}.")
    else:
        print(f"Sorry,we don't have {requested_topping}.")
        
print("n\Finished making your pizza")

Adding mushrooms.
Sorry,we don't have french fries.
Adding extra cheese.
n\Finished making your pizza