In [2]:
import pandas as pd

C:\Users\USER\AppData\Local\Temp\ipykernel_11032\4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [3]:
data = {
    "Day":["1/1/2024","1/2/2024","1/3/2024","1/4,/2024","1/5/2024","1/6/2024"],
    "Temperature":[32,35,28,24,32,32],
    "Windspeed":[6,7,2,7,4,2],
    "Event":["Rain","Sunny","Snow","Snow","Rain","Sunny"]
}
weather = pd.DataFrame(data)
weather

         Day  Temperature  Windspeed  Event
0   1/1/2024           32          6   Rain
1   1/2/2024           35          7  Sunny
2   1/3/2024           28          2   Snow
3  1/4,/2024           24          7   Snow
4   1/5/2024           32          4   Rain
5   1/6/2024           32          2  Sunny

In [5]:
weather = pd.DataFrame(data,index=[1,2,3,4,5,6])
weather

         Day  Temperature  Windspeed  Event
1   1/1/2024           32          6   Rain
2   1/2/2024           35          7  Sunny
3   1/3/2024           28          2   Snow
4  1/4,/2024           24          7   Snow
5   1/5/2024           32          4   Rain
6   1/6/2024           32          2  Sunny

In [6]:
weather.columns

Index(['Day', 'Temperature', 'Windspeed', 'Event'], dtype='object')

In [7]:
weather.describe()

       Temperature  Windspeed
count     6.000000   6.000000
mean     30.500000   4.666667
std       3.885872   2.338090
min      24.000000   2.000000
25%      29.000000   2.500000
50%      32.000000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [8]:
import os 
os.getcwd()

'c:\\Users\\USER\\Documents\\Introduction-to-python'

In [33]:
os.listdir()

['.git',
 'dataset',
 'Friends.csv',
 'gathungu pandas.ipynb',
 'gathungunov.ipynb',
 'gathungu_test.ipynb',
 'Introduction to pandas.ipynb',
 'Introduction.ipynb',
 'README.md']

In [34]:
Friends=pd.read_csv('Friends.csv')
Friends

     Name  Weigth  Heigth Location Education
0  Mwangi      50       5  Nairobi   Diploma
1     Ali      85       6   Kiambu    Degree
2   James      59       5   Kisumu   Masters
3   Linda      63       6    Nyeri    Degree
4    Jane      95       5   Kiambu    Degree
5  Wangui      84       6   Kiambu       PHD
6   Kamau      51       6  Nairobi   Diploma
7  Torres      81       5    Thika   Diploma
8    Tony      64       6      Voi    Degree
9    Cate      98       5     Lamu   Masters

In [38]:
os.listdir("../../Desktop/")

['@',
 'Adidas-Dashboard-START.xlsx',
 'Book2.xlsx',
 'BSC.doc',
 'desktop.ini',
 'GateWay to Arabic Book 1.pdf',
 'Karoki.pdf',
 'Lesson_Plan Gathungu.docx',
 'Photos',
 'Presentation Gathungu.pptx',
 'Python',
 'Python Programming Book.pdf',
 'receipt.pdf',
 'Research',
 'Visual Studio Code.lnk',
 '~$Adidas-Dashboard-START.xlsx',
 '~$BSC.doc',
 '~$P.F.A.doc',
 '~$sson_Plan Gathungu.docx']

In [39]:
df=pd.read_excel("../../Desktop/Adidas-Dashboard-START.xlsx",sheet_name="Data",skiprows=4)
df.shape

(9648, 14)