In [88]:
Revision
 *Data 
 *Functions 
 *Control

IndentationError: unexpected indent (759985365.py, line 2)

In [ ]:
x=1
y=5
x+y
print(x+y)
print(type(x+y))

6
<class 'int'>

In [ ]:
age=2.3
# how old will the child in 20 years
# current age + age in 20 years
y=20
age_in_20_years=age+y
print(age_in_20_years)
print(type(age_in_20_years))

22.3
<class 'float'>

In [ ]:
first= "him "
second= "her"
full_name= first + second
print(full_name)
print(type(full_name))

him her
<class 'str'>

In [ ]:
x=5>7
print(x)
print(type(x))

False
<class 'bool'>

In [ ]:
names=["james", "john", "jane", "koru", "mitoma"]
print(names)
print(type(names))

['james', 'john', 'jane', 'koru', 'mitoma']
<class 'list'>

In [ ]:
infor={"name":"hima","age":22.3,"friends":["koru","mitoma"]}
print(infor)
print(type(infor))
print(infor.keys())
print(infor.values())

{'name': 'hima', 'age': 22.3, 'friends': ['koru', 'mitoma']}
<class 'dict'>
dict_keys(['name', 'age', 'friends'])
dict_values(['hima', 22.3, ['koru', 'mitoma']])

Working with slicing and control flows

In [ ]:
#list
friends=["james","kamau","grace","ann","njogu","njenga","kiuna","mwangi","lucy","mwai"]
len(friends)

10

In [ ]:
animals =[]
animals =["dogs","cat","monkey"]
print(animals)
animals[-1]

['dogs', 'cat', 'monkey']

'monkey'

In [ ]:
list2 =[[10,20],["dog","cat"]]
print(list2)

[[10, 20], ['dog', 'cat']]

In [ ]:
list2[1]

['dog', 'cat']

In [ ]:
print(list2[1][0])

dog

In [ ]:
for num in [10,20,30,40]:
    print(num)

10
20
30
40

In [ ]:
for friends in ["james","kamau","grace","ann","njogu","njenga","kiuna","mwangi","lucy","mwai"]:
    print(friends)

james
kamau
grace
ann
njogu
njenga
kiuna
mwangi
lucy
mwai

In [ ]:
list3=[10,19,90,9]
list3
list3 [3]=3.7
list3

[10, 19, 90, 3.7]

In [ ]:
list3
list3.insert (2,"hello")
list3

[10, 19, 'hello', 90, 3.7]

In [ ]:
list3
del list3[2]
list3

[10, 19, 3.7]

In [ ]:
list3
list3.sort()
list3

[3.7, 10, 19]

In [ ]:
list4=[9,10,88,4.5]
print(list4)
list4 [1]=100.1
print(list4)

[9, 10, 88, 4.5]
[9, 100.1, 88, 4.5]

In [ ]:
list4
list4.insert (3,"hello")
print(list4)

[9, 100.1, 88, 'hello', 4.5]

In [ ]:
animals=["lion","buffalo","zebra","cat","rhino"]
print(animals)
animals.sort()
print(animals)

['lion', 'buffalo', 'zebra', 'cat', 'rhino']
['buffalo', 'cat', 'lion', 'rhino', 'zebra']

In [ ]:
del list4[3]
print(list4)

[9, 100.1, 88, 4.5]

In [ ]:
print(animals)
animals.append("donkey")
print(animals)

['buffalo', 'cat', 'lion', 'rhino', 'zebra']
['buffalo', 'cat', 'lion', 'rhino', 'zebra', 'donkey']

In [ ]:
animals.reverse()
print(animals)

['donkey', 'zebra', 'rhino', 'lion', 'cat', 'buffalo']

In [ ]:
fruits=["banana","grapes","orange","apple"]
print(fruits)

['banana', 'grapes', 'orange', 'apple']

In [ ]:
#replace
fruits[1]= "avocado"
print(fruits)

['banana', 'avocado', 'orange', 'apple']

In [ ]:
#insert
fruits.insert(1,"grapes")
print(fruits)

['banana', 'grapes', 'avocado', 'orange', 'apple']

In [ ]:
#sort
fruits.sort()
print(fruits)

['apple', 'avocado', 'banana', 'grapes', 'orange']

In [ ]:
#delete
del fruits[4]
print(fruits)

['apple', 'avocado', 'banana', 'grapes']

In [ ]:
#append
fruits.append("orange")
print(fruits)

['apple', 'avocado', 'banana', 'grapes', 'orange']

In [ ]:
#reverse
fruits.reverse()
print(fruits)

['orange', 'grapes', 'banana', 'avocado', 'apple']

In [ ]:
print(fruits)

['orange', 'grapes', 'banana', 'avocado', 'apple']

In [ ]:
#replace
fruits[0]= "kiwi"
fruits

['kiwi', 'grapes', 'banana', 'avocado', 'apple']

In [ ]:
#insert
fruits.insert(0,"orange")
fruits

['orange', 'kiwi', 'grapes', 'banana', 'avocado', 'apple']

In [ ]:
#sort
fruits.sort()
fruits

['apple', 'avocado', 'banana', 'grapes', 'kiwi', 'orange']

In [ ]:
#delete
del fruits[0]
fruits

['avocado', 'banana', 'grapes', 'kiwi', 'orange']

In [ ]:
#append
fruits.append("apple")
fruits

['avocado', 'banana', 'grapes', 'kiwi', 'orange', 'apple']

In [ ]:
#reverse
fruits.reverse()
fruits

['apple', 'orange', 'kiwi', 'grapes', 'banana', 'avocado']

In [ ]:
fruits.sort()
fruits

['apple', 'avocado', 'banana', 'grapes', 'kiwi', 'orange']

**sequences

In [ ]:
#length
len(fruits)

6

In [ ]:
#Select
fruits[5]

'orange'

In [ ]:
#slice
fruits
fruits[1:4]

['avocado', 'banana', 'grapes']

In [ ]:
#count
fruits.count("banana")

1

In [ ]:
#index
fruits.index("banana")

2

In [ ]:
#membership
"grapes" in fruits

True

In [ ]:

"grapes" not in fruits

False

In [ ]:
#concatenation
name= [" healthy"]
fruits+name

['apple', 'avocado', 'banana', 'grapes', 'kiwi', 'orange', ' healthy']

In [ ]:
#Minimum
min (fruits)

'apple'

In [ ]:
max(fruits)

'orange'

In [ ]:
list2=[8,9,8,8]
sum(list2)

33

In [ ]:
list3=[3,4,5,6,7,8,9]
list5 =list3
list3

[3, 4, 5, 6, 7, 8, 9]

In [ ]:
list3[0]= "apple"
list3
list5

['apple', 4, 5, 6, 7, 8, 9]

In [ ]:
list5

['apple', 4, 5, 6, 7, 8, 9]

In [89]:
red_bucket = input("what do you want to put in the bucket? ")
print(red_bucket)

In [92]:
red_bucket = input("what do you? ")
print(red_bucket)

In [93]:
Thomas_Age=3
Age_at_Kindergarten=5
print(Thomas_Age==Age_at_Kindergarten)

False

In [112]:
Thomas_Age = 3
Age_at_Kindergarten = 5

if Thomas_Age < Age_at_Kindergarten:
    print("Thomas should be in pre-school")

Thomas should be in pre-school

In [119]:
Thomas_Age=10
Age_at_Kindergarten=5
if Thomas_Age<Age_at_Kindergarten:
    print("Thomas should be in pre-school")
else:
    print("Thomas should be in pre-school or another class")

Thomas should be in pre-school or another class

In [120]:
Thomas_Age=10
Age_at_Kindergarten=5
if Thomas_Age<Age_at_Kindergarten:
    print("Thomas should be in pre-school")
elif Thomas_Age==Age_at_Kindergarten:
    print("Enjoy Kindergarten")
else:
    print("Thomas should be in another class")

Thomas should be in another class