Introduction to python
* data structure
* functions
* control flows

In [2]:
x=1
y=2
x+y
#1 and 2 are integers
print(type(x))

<class 'int'>

In [1]:
age=36.19
#how:current age + 6=age in 6 years
y=6
age_in_6_years=age+y
print(age_in_6_years)
#age is a floating point
print(type(age_in_6_years))

42.19
<class 'float'>

In [2]:
first="gathungu "
second="karoki"
full_name=first + second
print(full_name)
print(type(full_name))

gathungu karoki
<class 'str'>

In [3]:
x=4>5
print(x)
print(type(x))

False
<class 'bool'>

In [4]:
names=["james","karoki","jane","john","peter"]
print(names)
print(type(names))

['james', 'karoki', 'jane', 'john', 'peter']
<class 'list'>

In [5]:
infor={"name":"gathungu",
       "age":36,
       "friends":["john","alice"]}
print(infor)
print(type(infor))
print(infor.keys())
print(infor.values())

{'name': 'gathungu', 'age': 36, 'friends': ['john', 'alice']}
<class 'dict'>
dict_keys(['name', 'age', 'friends'])
dict_values(['gathungu', 36, ['john', 'alice']])

# <font color = "red"> Extracting data from the data structures</font>

In [2]:
name = "yvonne amunga" # extract data from strings,numbers etc by printing or calling
print(name)

yvonne amunga

In [3]:
name

'yvonne amunga'

In [11]:
# lists
friends = ['john','jim',"james","karoki","jane","peter"]
# indexing
len(friends)
friends[3]
# Negative index
friends[-1]

'peter'

In [10]:
# slicing
friends[4:7]
friends[4:]
# assignment -   cretae several lists sand try indexing and slicing as much as syopu can

['jane', 'peter']

In [12]:
# add lists 
[23,10] + [21 ,67]

[23, 10, 21, 67]

In [13]:
# append or add to lists
friends.append('grace')
print(friends)

['john', 'jim', 'james', 'karoki', 'jane', 'peter', 'grace']

In [14]:
# dictionaries
marks = {'english':98,'maths':12,'science':100}
print(marks)

{'english': 98, 'maths': 12, 'science': 100}

In [17]:
# use the key to get tha value
marks['maths']

12

In [16]:
# add more information to a dictionary
marks['Bio'] = 78
print(marks)

{'english': 98, 'maths': 12, 'science': 100, 'Bio': 78}

In [19]:
# create dictionaries and lists
# index and slice
# append
# add and get data from dictionaries

In [20]:
# for loop (control flows)
for friend in friends:
    print(friend)

john
jim
james
karoki
jane
peter
grace

In [ ]:
# create a list of your friends ages
# for each friend print their age in 10 years
# save it in anaother list
#print the final list and slice the last 2