Introduction to python
* data structure
* functions
* control flows

In [2]:
x=1
y=2
x+y
#1 and 2 are integers
print(type(x))

<class 'int'>

In [1]:
age=36.19
#how:current age + 6=age in 6 years
y=6
age_in_6_years=age+y
print(age_in_6_years)
#age is a floating point
print(type(age_in_6_years))

42.19
<class 'float'>

In [2]:
first="gathungu "
second="karoki"
full_name=first + second
print(full_name)
print(type(full_name))

gathungu karoki
<class 'str'>

In [3]:
x=4>5
print(x)
print(type(x))

False
<class 'bool'>

In [4]:
names=["james","karoki","jane","john","peter"]
print(names)
print(type(names))

['james', 'karoki', 'jane', 'john', 'peter']
<class 'list'>

In [5]:
infor={"name":"gathungu",
       "age":36,
       "friends":["john","alice"]}
print(infor)
print(type(infor))
print(infor.keys())
print(infor.values())

{'name': 'gathungu', 'age': 36, 'friends': ['john', 'alice']}
<class 'dict'>
dict_keys(['name', 'age', 'friends'])
dict_values(['gathungu', 36, ['john', 'alice']])

# <font color = "red"> Extracting data from the data structures</font>

In [2]:
name = "yvonne amunga" # extract data from strings,numbers etc by printing or calling
print(name)

yvonne amunga

In [3]:
name

'yvonne amunga'

In [11]:
# lists
friends = ['john','jim',"james","karoki","jane","peter"]
# indexing
len(friends)
friends[3]
# Negative index
friends[-1]

'peter'

In [10]:
# slicing
friends[4:7]
friends[4:]
# assignment -   cretae several lists sand try indexing and slicing as much as syopu can

['jane', 'peter']

In [12]:
# add lists 
[23,10] + [21 ,67]

[23, 10, 21, 67]

In [13]:
# append or add to lists
friends.append('grace')
print(friends)

['john', 'jim', 'james', 'karoki', 'jane', 'peter', 'grace']

In [14]:
# dictionaries
marks = {'english':98,'maths':12,'science':100}
print(marks)

{'english': 98, 'maths': 12, 'science': 100}

In [17]:
# use the key to get tha value
marks['maths']

12

In [16]:
# add more information to a dictionary
marks['Bio'] = 78
print(marks)

{'english': 98, 'maths': 12, 'science': 100, 'Bio': 78}

In [19]:
# create dictionaries and lists
# index and slice
# append
# add and get data from dictionaries

In [20]:
# for loop (control flows)
for friend in friends:
    print(friend)

john
jim
james
karoki
jane
peter
grace

In [ ]:
# create a list of your friends ages
# for each friend print their age in 10 years
# save it in anaother list
#print the final list and slice the last 2

In [3]:
ages = [23,10,54]
names = ['john','jim','kamau']

empty = []
for age in ages:
    new_age = age+10
    empty.append(new_age)
print(empty)

[33, 20, 64]

In [4]:
# using a zip function
for name,age in zip(names,ages):
    print(name,":",age+10)

john : 33
jim : 20
kamau : 64

In [6]:
friends = {'John':10,'alice':34,'edward':40}

for name in friends.keys():
    print(name)
    friends[name]+=10

John
alice
edward

In [7]:
friends

{'John': 20, 'alice': 44, 'edward': 50}

# Functions

$summer = x + y$

In [9]:
def summer(x,y):
    return x+y

summer(20,40)
summer(100,20000)

20100

In [14]:
def greeter(name):
    return f'Hello {name}'
greeter('Karoki Gathungu')
greeter('John Kamau')

'Hello John Kamau'

In [17]:
def greeter1(name1,name2):
    return f'Hello {name1} and  {name2}'

greeter1('Gathungu','Kamau')

'Hello Gathungu and  Kamau'

In [21]:


prices = {'unga':100,'rice':200,'oil':250,'bread':140}

shopping_list = {'unga':4,'bread':2,'oil':5,'rice':10}

def supermarket(shopping_list):
    # we need to get the prices
    print('Item','  ','Number ',' Price')
    print('--'*30)
    total =0
    for item,number in zip(shopping_list.keys(),shopping_list.values()):
        price = prices[item]
        total_price = price * number
        total +=total_price
        print(item,' ',number,' ',total_price)
    print('--'*30)
    print('Total ------------------->',total)
   

supermarket(shopping_list)

Item    Number   Price
------------------------------------------------------------
unga   4   400
bread   2   280
oil   5   1250
rice   10   2000
------------------------------------------------------------
Total -------------------> 3930

In [23]:
authors = {
    'shakespeare':{
        'french':['Casanova','Lovecherie'],
        'English':['romeo and juliet','merchant of venice','Julius caesar','to whom the bell tolls']
    },
    'Ngugi wa thiongo':{
        'Kikuyu':{'Murogi wa kagogo','saitani mutharabaini'},
        'English':{'the river between','a grain of wheat','weep not child'}
    },
    'John Kiriamiti':{
        'english':['my life in crime','my life with a criminal','my life in prison','son of fate']
    }
}
# json

In [24]:
# for each author list the number of their books eg shakespare (englis:3, french,2)
# total number of authors
# total number of english books,Kikuyu books, french books
# print the last 2 books of john kiriamiti

In [ ]:
# create a list of 5000 prices ( you can use the random function)

# create a function that generates the mean of these numbers
# create anothe function that generates the minimum and the maximu of the numbers
#  a function that genertates the sum of the numbers
# a function that returns the square of the list of numbers